* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo 2', sans-serif;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

textarea {
  font-size: 1.5rem;
  padding: 0.5em;
  max-width: 80%;
  height: 60%;
  transition: outline 0.5s ease;
}

textarea:focus {
  outline: 5px solid yellowgreen;
}

.words {
  text-transform: uppercase;
  color: yellowgreen;
  font-size: 2em;
  margin-top: 1em;
}
